[Unit]
Description=Haproxy Podman container
Wants=syslog.service
[Service]
Restart=always
ExecStart=/usr/bin/podman start -a haproxy:2.0 -v /etc/haproxy-container.conf:/usr/local/etc/haproxy:r
ExecStop=/usr/bin/podman stop -t 10 haproxy:2.0
[Install]
WantedBy=multi-user.target
#